#member-profile { top:57px; left: 13px; min-width:316px !important;}
#sponsor-profile { top:57px; left: 13px; min-width:316px !important;}

.treeview span.icon { width: 12px; margin-right: 5px; }
span.indent { margin-left: 10px; margin-right: 10px; }
.treeview .list-group-item { cursor: pointer; }

#treeview-container ul { margin: 0; padding: 0; list-style: none; margin-left: 20px; }
#treeview-container ul > li { margin: 3px 4px; padding: 0; cursor: default; }
#treeview-container ul > li span.child-title:hover { font-weight: bold; }
#treeview-container li { color: #333; }
#treeview-container li.active > span.child-title { font-weight: bold; color: #6D2EA7; }


.plan {
    border-radius: 6px;
    text-align: center;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

.plan-price {
    font-size: 24px;
}

.content-center { text-align: center;}

#products ul.nav-stacked li { padding: 8px 10px; }

#products .btn-info {
    color: #fff;
    background-color: #00a0df;
    border-color: #0393cd;
    border-bottom-color: #037daf;
    border-bottom-width: 3px;
}

.place-order { margin: 10px 0; }
#cart-total .btn-success {
    color: #fff;
    background-color: #00a65a;
    border-color: #00a65a;
    border-bottom-color: #0E864F;
    border-bottom-width: 3px;
}

#products .box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 3px 3px rgba(6, 6, 6, 0.22);
}

#cart-items tr td:nth-child(3), #cart-items tr th:nth-child(3) { text-align: right; }
#cart-items tr th:nth-child(1) { width: 20px;}
#cart-total tr td { font-weight: bold; font-size: 1.2em; }
#cart-total tr td:nth-child(1) { width: 70px; }
#cart-total tr td:nth-child(2) { text-align: right; }